<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio: Arash Tarafar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/page.css">
    <script src="js/script.js" defer></script>
</head>
<body>
    <header id="top">
        <div class="hero container" id="about">
            <nav class="topbar">
                <p class="menu-mobile">MENU</p>
                <ul class="menu">
                    <li class="menu-link"><a href="./">About</a></li>
                    <li class="menu-link"><a href="./experience">Experience</a></li>
                    <li class="menu-link"><a href="./projects">Projects</a></li>
                    <li class="menu-link"><a href="./skills">Skills</a></li>
                    <li class="menu-link"><a href="./education">Education</a></li>
                    {{#if isLoggedIn}}
                        <li class="menu-link"><a href="./logout">Log out ({{ name }})</a></li>
                    {{else}}
                        <li class="menu-link"><a href="./login">Log in</a></li>
                    {{/if}}
                </ul>
                <div class="darkmode-toggle">
                    <i class="bi bi-brightness-high-fill toggle-icon"></i>
                </div>
            </nav>
            
        </div>
    </header>
    <main>
        <a class="anchor" id="education"></a>
        <section class="container section-education">
            <h2>MY EDUCATION</h2>
            {{#each educations}}
                <div class="education columns">
                    <div class="col-8 col-md-12">
                        <p class="education-name">{{ educationDegree }} | {{ organizationName }}</p>
                        <p class="education-date">{{ educationDate }}</p>
                    </div>
                    <div class="col-4 col-md-12">
                        <p class="education-description">{{ educationDescription }}</p>
                    </div>
                    {{#if ../isAdmin}}
                        <p>
                            <a href="/education/update/{{ educationID }}" class="btn-admin btn-update">Change</a>
                            <a href="/education/delete/{{ educationID }}" class="btn-admin btn-delete">Remove</a>
                        </p>
                    {{/if}}
                </div>
            {{/each}}
            <div class="columns">
                <div class="col-12">
                    {{#if isAdmin}}
                        <p>
                            <a href="/education/create" class="btn-admin btn-create">+ Add an Education</a>
                        </p>
                    {{/if}}
                </div>
            </div>
        </section>
    </main>
    <footer class="container">
        <div class="columns">
            <div class="contacts col-12">
                <span class="prompt">CONTACT ME:</span> <span class="phone">+46 070 9678 449</span> <span class="email">arashtarafar@gmail.com</span> <a href="https://www.linkedin.com/in/arashtarafar/" target="_blank" class="linkedin">linkedin.com/in/arashtarafar</a>
            </div>
            <a class="backtotop" href="#top">↑</a>
        </div>
        <p class="copyright">All Rights Reserved. Arash Tarafar, 2023</p>
    </footer>
</body>
</html>